<footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6">
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 sm:mt-0">
    <li>
      <a href="#" class="hover:underline md:mr-6">Cookie Policy</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Terms of Service</a>
    </li>
  </ul>

  <span class="text-sm text-gray-500 sm:text-center">
    &copy; {% now 'Y' %}
    <a href="{% url 'nodraft:home' %}" class="hover:underline">Nodraft, Inc</a>
  </span>
</footer>