<section class="flex flex-auto bg-white">
    <div class="hidden lg:block lg:w-1/2" style="clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);">
        <div class="h-full object-cover bg-top" style="background-image: url(https://picsum.photos/id/287/1920/1080)">
            <div class="h-full bg-black opacity-25"></div>
        </div>
    </div>

    <div class="flex mx-auto items-center text-center lg:text-left px-16 md:px-24 lg:w-1/2">
        <div class="place-self-center">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl">
                Empowering Students to Reach New Heights</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
                Let Us Help You Make the Leap to Top Colleges and Universities
            </p>
            <a href="{% url 'blog:home' %}" class="relative px-6 py-3 font-medium text-white group">
                <span
                    class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform translate-x-0 -skew-x-12 bg-indigo-500 group-hover:bg-indigo-700 group-hover:skew-x-12"></span>
                <span
                    class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform skew-x-12 bg-indigo-700 group-hover:bg-indigo-500 group-hover:-skew-x-12"></span>
                <span
                    class="absolute bottom-0 left-0 hidden w-10 h-20 transition-all duration-100 ease-out transform -translate-x-8 translate-y-10 bg-indigo-600 -rotate-12"></span>
                <span
                    class="absolute bottom-0 right-0 hidden w-10 h-20 transition-all duration-100 ease-out transform translate-x-10 translate-y-8 bg-indigo-400 -rotate-12"></span>
                <span class="relative text-lg">
                    Explore our resources
                </span>
            </a>
        </div>
    </div>
</section>