{% load static %}

<header class="shadow-sm">
  <div class="p-4 mx-auto max-w-screen-xl">
    <div class="flex items-center justify-between gap-4 lg:gap-10">
      <div class="flex lg:w-0 lg:flex-1">
        <img class="h-12 w-12 bg-gray-100 rounded-lg p-1"
          src="{% static '/project/img/logo/nodraft-feather-250-transparent.png' %}" alt="nodraft">
      </div>

      <nav class="hidden text-sm font-medium gap-8 md:flex">
        <a class="text-gray-500" href="">About</a>
        <a class="text-gray-500" href="">Features</a>
        <a class="text-gray-500" href="">Pricing</a>
      </nav>

      <div class="items-center justify-end flex-1 hidden gap-4 sm:flex">
        <a class="px-5 py-2 text-sm font-medium text-gray-500 bg-gray-100 rounded-lg" href="">
          Log in
        </a>

        <a class="px-5 py-2 text-sm font-medium text-white bg-fuchsia-600 rounded-lg" href="">
          Try for free
        </a>
      </div>

      <div class="lg:hidden">
        <button class="p-2 text-gray-600 bg-gray-100 rounded-lg" type="button">
          <span class="sr-only">Open menu</span>
          <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>