{% extends 'blog/layout/base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-8 lg:max-w-4xl lg:py-16">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Which Colleges Should You Apply to? Reaches, Targets, and Safeties
        </h2>
        <p class="mt-2 text-md leading-8 text-gray-600">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel
            totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur
            nulla deserunt vel iusto corrupti dicta laboris incididunt.
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %} {% endblock%}