{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block head %} {% endblock %}

{% block master %}
<main class="w-full min-h-screen text-gray-600" role="main">

  <div class="flex flex-col min-h-screen">
    <!-- Navigation -->
    {% include 'nodraft/include/navigation.html' %}

    <!-- Hero -->
    {% include 'nodraft/include/hero.html' %}
  </div>

  <!-- Features -->
  {% include 'nodraft/include/features.html' %}

  <!-- Join the waitlist -->

  <!-- Footer-->
  {% include 'nodraft/include/footer.html' %}

</main>
{% endblock %}

{% block scripts %} {% endblock%}