<section class="bg-gray-50">
    <div class="container mx-auto max-w-7xl px-6 lg:py-[4rem] min-h-screen">
        <div class="grid grid-cols-2 gap-0">
            <img src="https://picsum.photos/1024/" alt="" class="object-contain">

            <div class="text-center mt-24">
                <p class="text-3xl font-extrabold">
                    {% lorem 10 w %}
                </p>
                <p class="font-light my-4">
                    {% lorem 25 w %}
                </p>
                <a href="" class="underline">
                    Learn more
                </a>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                Explore
            </div>

            <div>
                Get
            </div>
        </div>
    </div>
</section>